@import "../_variables.scss";

.header {
  margin-top: 60px;
  @include is-mobile {
    margin-top: 0;
    padding-top: 15vw;
  }
  position: relative;
  &__title {
    display: block;
    margin: 0 auto;
    @include is-mobile {
      margin-top: 15vw;
      width: 100%;
    }
  }
  &__characters {
    position: absolute;
    left: 0;
    top: 0;
    @include is-desktop {
      transform: translate(-70px, -90px);
    }
    @include is-mobile {
      width: 100%;
    }
  }
  &__event {
    position: relative;
    &::before, &::after {
      color: #0047B1;
      font-family: 'Covered By Your Grace', cursive;
      font-size: 40px;
      line-height: 54px;
      position: absolute;
      left: 50%;
      top: 50%;
      @include is-mobile {
        font-size: 24px;
        line-height: 32px;
      }
    }
    @include is-mobile {
      transform: width(20px);
    }
    &::before {
      content: "Le";
      transform: rotate(-4.84deg) translate(-180px, -50px);
      @include is-mobile {
        transform: rotate(-4.84deg) translate(-90px, -25px);
      }
    }
    &::after {
      content: "février";
      transform: rotate(-4.84deg) translate(130px, -10px);
      @include is-mobile {
        transform: rotate(-4.84deg) translate(72px, -10px);
      }
    }
  }
  &__arrow {
    fill: #0047B1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(110px, -40px);
    width: 50px;
    height: 30px;
    @include is-mobile {
      transform: translate(57px, -30px);
      width: 32px;
      height: 20px;
    }
  }
  &__dice {
    display: block;
    @include is-desktop {
      margin-left: -70px;
    }
    @include is-mobile {
      margin: 0 auto;
    }
  }
  &__heros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 45px;
    @include is-mobile {
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 25px;
    }
  }
  .sheet {
    display: flex;
    align-items: center;
    height: 140px;
    width: 340px;
    background-image: url("../assets/CharacterSheet.svg");
    background-repeat: no-repeat;
    position: relative;
    &__props {
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 20px;
      line-height: 24px;
      opacity: .75;
      > div {
        height: 47px;
        width: 245px;
        border-bottom: 1px solid black;
      }
      :first-child {
        margin-bottom: 6px;
      }
    }
    &__id {
      color: #0047B1;
      font-family: 'Covered By Your Grace';
      font-size: 40px;
      line-height: 54px;
      text-align: center;
      transform: rotate(-.69deg);
      padding-left: 25px;
      width: 230px;
    }
    &__portrait {
      width: 88px;
      height: 104px;
      border: 4px solid #FFFFFF;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
      transform: rotate(-3.94deg);
      z-index: 1;
      > img {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  .and {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
    line-height: 59px;
    margin: 0 20px;
    @include is-mobile {
      font-size: 64px;
      line-height: 78px;
      margin: 0 40px;
    }
  }
}
