@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import "./variables";

a, a:hover, a:visited {
  color: #0047B1;
  text-decoration: underline;
}

.app {
  background-image: url("./assets/Planks@Desktop.png");
  overflow: auto;
  font-family: 'IM Fell Great Primer', serif;
  @include is-mobile {
    background: none;
  }
}

.heading {
  font-size: 96px;
  line-height: 118px;
  margin-bottom: 50px;
  font-family: 'Fredericka the Great', cursive;
  margin-top: 50px;
  text-align: center;
  @include is-mobile {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 25px;
  }
}

.home {
  font-size: 24px;
  line-height: 36px;
  margin: 50px auto;
  width: 900px;
  @include is-mobile {
    width: auto;
    // font-size: 16px;
    line-height: 150%;
    margin: 25px 10px 50px 10px;
  }
}

.page {
  @include is-desktop {
    border: 60px solid;
    border-image: url("./assets/Paper@Desktop.png") 60 fill round;
    margin: 0 auto 30px auto;
    width: 1160px;
  }
  @include is-mobile {
    background-image: url("./assets/Paper@Mobile.png");
  }
}

.church {
  @media only screen and (min-width: 1180px) {
    height: 500px;
  }
  @media only screen and (max-width: 1179px) {
    > img {
      width: 340px;
    }
  }
  display: table;
  margin: 50px auto;
  figcaption {
    text-align: center;
    @media only screen and (max-width: 360px) {
      font-size: 14px;
    }
  }
}

.full-width-image {
  display: block;
  margin: 0 -70px;
}
.dragon {
  margin-bottom: -90px;
  @include is-mobile {
    margin: 0 auto;
  }
}

.block-img {
  text-align: center;
  margin: 10px 0;
  max-width: 100%;
}
